<%= form_for([@request, @access_request], html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @access_request.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@access_request.errors.count, "error") %> prohibited this request from being saved:</h4>

      <ul>
      <% @access_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :end_user, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.select :end_user_id, options_for_select([[@request.end_user.name, @request.end_user.id]]), {}, { class: "form-control" } %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :access_account_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select :access_account_id, AccessAccount.all, :id, :name, { prompt: true }, class: "form-control" %>
    </div>
  </div>

  <div class="form-group fields-for-permissions">
    <%= f.label :permissions, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <p><%= link_to_add_association 'Add Permission', f, :permissions, class: "btn btn-sm btn-success", data: { association_insertion_node: '.permissions', association_insertion_method: :append } %></p>
      <table class="table table-table-condensed">
        <tbody class="permissions">
          <%= f.fields_for :permissions do |builder| %>
            <%= render 'permission_fields', f: builder %>
          <% end %>
        </tbody>
      </table>
        
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.button class: "btn btn-primary" do %>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Add Account
      <% end %>

      <% if @request.access_requests.size > 1 %>
        <%= link_to edit_request_path(@request), class: "btn btn-primary" do %>
          Next
          <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
        <% end %>
        <hr>
        <table class="table table-condensed">
          <thead>
            <tr>
              <th>Added Accounts :</th>
            </tr>
          </thead>
          <tbody>
            <% @request.access_accounts.each do |account| %>
              <tr>
                <td><%= account.name %></td> 
              </tr>  
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
<% end %>
