<div class="page-header">
  <%= link_to new_requests_access_request_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Access request
  <% end %>
  <h1>Listing requests_access_requests</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @requests_access_requests) do |requests_access_request| %>
            <td><%= link_to 'Show', requests_access_request %></td>
        <td><%= link_to 'Edit', edit_requests_access_request_path(requests_access_request) %></td>
        <td><%= link_to 'Destroy', requests_access_request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
