<div class="page-header">
  <%= link_to request_path(@request), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-th-list"></span>
    Back
  <% end %>
  <% if @access_request.ready_to_complete? and current_user.support_member? %>
    <%= link_to complete_request_access_request_path(@request, @access_request), method: :post, class: 'btn btn-success' do %>
      <span class="glyphicon glyphicon-ok"></span>
      Grant Access
    <% end %>
  <% elsif @access_request.owner? current_user %>
    <% if @access_request.ready_to_cancel? %>
      <%= link_to cancel_request_access_request_path(@request, @access_request), data: { toggle: "modal", target: "#cancelModal" }, class: 'btn btn-danger' do %>
        <span class="glyphicon glyphicon-remove"></span>
        Cancel
      <% end %>
    <% end %>
    <%= link_to edit_request_access_request_path(@request, @access_request), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Edit
    <% end %>
  <% end %>
  <% if @access_request.ready_to_approve? and @access_request.approver? current_user %>
    <%= link_to "#", class: 'btn btn-danger', data: { toggle: "modal", target: "#rejectModal" } do %>
      <span class="glyphicon glyphicon-remove"></span>
      Reject
    <% end %>
    <%= link_to "#", class: 'btn btn-success', data: { toggle: "modal", target: "#approveModal" } do %>
      <span class="glyphicon glyphicon-ok"></span>
      Approve
    <% end %>
  <% end %>
  <h2>Access Request <small><%= content_tag :span, class: "label label-#{label_class @access_request.current_state}" do %><%= @access_request.current_state %><% end %></small></h2>
    <p><em>Created on <%= @access_request.created_at.to_date %> by <%= @access_request.requester_name %></em></p>
</div>
<div class="row">
  <div class="col-sm-6">
    <dl class="dl-horizontal">
      <dt>End User:</dt>
      <dd><%= @access_request.end_user_name %></dd>

      <dt>Account:</dt>
      <dd><%= @access_request.access_account_name %></dd>

      <dt>Permissions:</dt>
        <% @access_request.permissions.each do |permission| %>
          <dd><%= permission.name %></dd>
        <% end %>

      <dt>Note:</dt>
      <dd><%= @access_request.note %></dd>
    </dl>
  </div>
  <div class="col-sm-6">
    <%= render 'approve_form' %>
    <%= render 'reject_form' %>
    <%= render 'cancel_form' %>
  </div>
</div>

<% if @access_request.access_request_events.any? %>
<p><em><strong>Access Request History</strong></em></p>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Action</th>
        <th>Initiator</th>
        <th>Comment</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @access_request.access_request_events.order(:created_at).each do |event| %>
        <tr>
          <td>
            <%= content_tag :span, class: "label label-#{label_class event.state}" do %><%= event.state %><% end %>
          </td>
          <td><%= event.user_name %></td>
          <td><%= event.comment %></td>
          <td><%= event.created_at.localtime.strftime("%e %B %Y %H:%M") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

