<%= form_with(model: access_account, local: true) do |form| %>
  <% if access_account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(access_account.errors.count, "error") %> prohibited this access_account from being saved:</h2>

      <ul>
      <% access_account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
