<div class="page-header">
  <%= link_to root_path, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-th-list"></span>
      Back
    <% end %>
  <% if current_user.admin %>
    <%= link_to new_access_account_path, class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-plus"></span>
      New Access Account
    <% end %>
  <% end %>
  <h2>Access Accounts</h2>
</div>

<div class="table-responsive">
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Approver</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @access_accounts) do |access_account| %>
            <td><%= access_account.name %></td>
            <td><%= access_account.approver.try(:name) %></td>
            <td>
              <%= link_to access_account, class: "btn btn-xs btn-info" do %>
                <span class="glyphicon glyphicon-info-sign"></span>
                Show
              <% end %>
            </td>
      <% end %>
    </tbody>
  </table>
  <%= paginate @access_accounts, window: 2 %>
</div>
<%= page_entries_info @access_accounts, entry_name: 'item' %>