<div class="page-header">
  <%= link_to root_path, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-th-list"></span>
      Back
    <% end %>
  <% if current_user.admin %>
    <%= link_to edit_access_account_path(@access_account), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Edit
    <% end %>
  <% end %>
  <h2><%= @access_account.name %></h2>
  <p>Approver : <%= @access_account.approver.try(:name) %></p>
</div>
<h4><em>Access Requests</em></h4>
<div class="table-responsive">
  <table class="table table-table-condensed table-hover">
    <thead>
      <tr>
        <th>End User</th>
        <th>Requester</th>
        <th>State</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @access_requests) do |access_request| %>
        <td><%= access_request.end_user_name %></td>
        <td><%= access_request.requester_name %></td>
        <td><%= content_tag :span, class: "label label-#{label_class access_request.current_state}" do %><%= access_request.current_state %><% end %></td>
        <td>
          <%= link_to [access_request.request, access_request], class: "btn btn-xs btn-info" do %>
            <span class="glyphicon glyphicon-info-sign"></span>
            Show
          <% end %>
        </td>
      <% end %>
    </tbody>
  </table>
</div>
