<div class="page-header">
  <% if current_user.admin? %>
    <%= link_to edit_access_account_path(@access_account), class: 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-pencil"></span>
      Edit
    <% end %>
  <% end %>
  <h2><%= @access_account.name %></h2>
  <p>Approver : <%= @access_account.approver ? @access_account.approver.name : 'N/A' %></p>
</div>
<div class="table-responsive">
  <table class="table table-table-condensed table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Requester</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @access_account.requests) do |request| %>
        <td><%= request.end_user.name %></td>
        <td><%= request.end_user.email %></td>
        <td><%= request.requester.name %></td>
        <td>
          <%= link_to 'Show', request %> |
          <%= link_to 'Edit', edit_request_path(request) %> |
          <%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      <% end %>
    </tbody>
  </table>
</div>
