<div class="nested-fields">
  <div class="form-group">
    <%= f.label :access_account, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.collection_select :access_account_id, AccessAccount.all, :id, :name, { prompt: true }, class: "form-control" %>
    </div>
  </div>
  <div class="access_request_permission">
    <%= f.fields_for :access_request_permissions do |builder| %>
      <%= render 'access_request_permission_fields', f: builder %>
    <% end %>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= link_to_add_association 'Add Permission', f, :access_request_permissions, class: "btn btn-success", data: { association_insertion_node: '.access_request_permission', association_insertion_method: :append } %>
    </div>
  </div>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= link_to_remove_association 'Remove', f, class: "btn btn-danger" %>
    </div>
  </div>
</div>