<div class="page-header">
  <%= link_to new_request_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Request
  <% end %>
  <h2>Requests</h2>
</div>
<ul class="nav nav-tabs nav-justified">
  <li <% if params[:action] == 'index' %>class="active"<% end %>>
    <%= link_to requests_path do %>
      All
      <span class="badge"><%= current_user.requests.count %></span>
    <% end %>    
  </li>
  <li <% if params[:action] == 'submitted' %>class="active"<% end %>>
    <%= link_to submitted_requests_path do %>
      Submitted
      <span class="badge"><%= current_user.requests.submitted.count %></span>
    <% end %>   
  </li>
  <li <% if params[:action] == 'drafts' %>class="active"<% end %>>
    <%= link_to drafts_requests_path do %>
     Drafts
     <span class="badge"><%= current_user.requests.drafts.count %></span>
    <% end %>  
  </li>
</ul>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Request</th>
        <th>End User</th>
        <th>Requester</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @requests) do |request| %>
        <td><%= request.id %></td>   
        <td><%= link_to request.end_user_name, request.end_user %></td>
        <td><%= request.requester_name %></td>
        <td><%= content_tag :span, class: "label label-#{label_class request.status}" do %><%= request.status %><% end %></td>
        <td>
          <%= link_to request, class: "btn btn-xs btn-info" do %>
            <span class="glyphicon glyphicon-info-sign"></span>
            Show
          <% end %>
        </td>
      <% end %>
    </tbody>
  </table>
</div>
