<div class="page-header">
  <%= link_to new_request_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Request
  <% end %>
  <h1>Requests</h1>
</div>

<div class="table-responsive">
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Requester</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @requests) do |request| %>
            <td><%= request.end_user.name %></td>
            <td><%= request.end_user.email %></td>
            <td><%= request.requester.name %></td>
            <td>
              <%= link_to 'Show', request %> |
              <%= link_to 'Edit', edit_request_path(request) %> |
              <%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
      <% end %>
    </tbody>
  </table>
</div>
