<div class="page-header">
  <%= link_to root_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-th-list"></span>
    Back
  <% end %>
  <%= link_to new_end_user_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New End user
  <% end %>
  <h2>End Users</h2>
</div>

<div class="table-responsive">
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @end_users) do |end_user| %>
        <td><%= end_user.name %></td>
        <td><%= end_user.email %></td>
        <td>
          <%= link_to end_user, class: "btn btn-xs btn-info" do %>
            <span class="glyphicon glyphicon-info-sign"></span>
            Show
          <% end %>
        </td>
      <% end %>
    </tbody>
  </table>
  <%= paginate @end_users, window: 2 %>
</div>
<%= page_entries_info @end_users %>
