<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Centralised Software Management</title>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <%= javascript_include_tag "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js", "https://oss.maxcdn.com/respond/1.4.2/respond.min.js" %>
  <![endif]-->

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag asset_path('favicon.ico') %>
</head>
<body>
  <%= render 'partials/navbar' %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <center><%= image_tag "favicon.ico" %></center>
        <% if user_signed_in? %>
          <ul class="nav nav-sidebar">
            <li <% if params['controller'] == 'requests' && params['action'] == 'index' %>class="active"<% end %>>
              <%= link_to requests_path do %>
                <span class="glyphicon glyphicon-chevron-right"></span>
                All
              <% end %>
            </li>
            <% AccessAccount.all.each do |access_account| %>
              <li <% if @access_account == access_account %>class="active"<% end %>>
                <%= link_to access_account do %>
                  <span class="glyphicon glyphicon-chevron-right"></span>
                  <%= access_account.name %>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="container">
          <%= render 'partials/flash' %>

          <%= yield %>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
